<footer>
	<div class="container">
		<p>
			<!--Facebook icon-->
			<a href="http://facebook.com" target="_blank">
				<span class="fa-stack fa-lg">
					<i class="fa fa-circle-thin fa-stack-2x"></i>
					<i class="fa fa-facebook fa-stack-1x"></i>
				</span>
			</a>&nbsp; &nbsp; &nbsp;
			<!--Twitter icon-->
			<a href="http://twitter.com" target="_blank">
				<span class="fa-stack fa-lg">
					<i class="fa fa-circle-thin fa-stack-2x"></i>
					<i class="fa fa-twitter fa-stack-1x"></i>
				</span>
			</a>&nbsp; &nbsp;&nbsp;
			<!--Pinterest icon-->
			<a href="http://pinterest.com" target="_blank">
				<span class="fa-stack fa-lg">
					<i class="fa fa-circle-thin fa-stack-2x"></i>
					<i class="fa fa-pinterest-p fa-stack-1x"></i>
				</span>
			</a>&nbsp; &nbsp;&nbsp;
			<!--Google+ icon-->
			<a href="http://plus.google.com" target="_blank">
				<span class="fa-stack fa-lg">
					<i class="fa fa-circle-thin fa-stack-2x"></i>
					<i class="fa fa-google-plus fa-stack-1x"></i>
				</span>
			</a>
		</p>
		<p class="text-muted">© PEAK A TRIP. ALL RICHTS RESERVED.</p>
	</div>
</footer>